h1, h6 {
  margin: 0;
}

.grid-container {
  display: grid; 
  grid-template-rows: 3.4rem auto .8rem;
  grid-template-columns: max-content auto;
  height: 100vh;
  overflow-y: hidden;
}

demo-header {
  grid-column: 1 / span 2;
  text-align: center;
  background-color: lightgray;
  border-bottom: 1px solid darkgray;
}

demo-menu {
  grid-row: 2 / span 2;
  background-color: lightgray;
  width: 12rem;
  border-right: 1px solid darkgray;
  padding: 0 0.2rem;
  overflow: hidden;
  transition: width 1s ease-in-out;    
}

demo-content {
  position: relative;    
  padding: 5px;  
  overflow: auto;
}

demo-footer {  
  grid-column: 2;
  height: .8rem;
  text-align: center;
}

demo-menu.minimize {
  width: 4.4rem;
}

demo-menu .toggle {
  display: flex; 
  flex-direction: column;
  align-items: flex-end;
  margin-top: 5px;
  cursor: pointer;
}

demo-loader.hidden {
  display: none;
}

demo-loader div {
  position: fixed;
  display: block;
  top:0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 99999999;
  background: rgba(0, 0, 0, 0.611);
}

demo-loader div::after {
  content: "Loading...";
  position: absolute;
  display: block;      
  background-color: white;      
  width: 6rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  font-weight: bolder;
  font-size: 1.2rem;
  color: blueviolet;
  border: 1px solid black;
  border-radius: 5px;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.toggle {
  position: absolute;
  top: 2px;
  left: 10px;
  color: blueviolet;
  border: 1px solid blueviolet;
  border-radius: 5px;
  padding: 1px;
}

.toggle:hover {
  color: purple;
  border: 1px solid purple;
}

.material-icons {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 36px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.menu-item .material-icons {
  transition: font-size 1s ease-in-out; 
}

demo-menu.minimize .menu-item .material-icons {
  font-size: 64px;
}

demo-menu.minimize .menu-item div {
  font-size: 0;
}

.menu-item {
  display: flex;
  color: blueviolet;
  padding: 3px 0;
}

.menu-item div {
  font-size: 24px;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 5px;
  transition: font-size 1s ease-in-out; 
}

.menu-item:hover {
  color: purple;
  cursor: pointer;
} 

demo-menu .menu_selected {
  color: rgb(81, 7, 150);
}

.form-control {
  display: block;
  margin: 5px;
}

.form-control label {
  display: block;
}

.form-control input {
  border: 1px solid black;
  border-radius: 5px;
  padding: .4rem .5rem;
  font-size: .9rem;
  min-width: 30rem;
}

.form-control input:focus {
  border-color: blueviolet;
  outline: none;
}

.button-panel {
  display: block;
}